<div class="container">
    
    <%= link_to("Back", {:action => "index"}) %>
    <hr />

    <% if @user.photos.size > 0 %>
            <% @user.photos.each do |p| %>
                        <%= link_to(image_tag(p.image.url(:thumb)), p.image.url(:original), :data => {:lightbox => "gallery"}) %>
            <% end %>

    <%else%>
        <h2>No images Found</h2>
    <% end %>
</div>
